/vendor
/node_modules
Homestead.yaml
.env
composer.lock
/storage/framework/sessions
.idea/workspace.xml
.idea
.idea/
.idea/*
.idea/encodings.xml
/storage/framework/cache/*
build/*
build/
build
build/coverage/html/*